* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* display: flex; */
    height: 100vh;
    padding: 2.5rem 1rem 2.5rem 1rem;
    /* color: #ffffff; */

    /* grid-template-columns: repeat(3, 1fr); */
}
.pf_wrapper{
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.img_wrapper{
    width: 35%; /*or whatever you choose*/
   margin: auto;
}
.pf_pic{
    display: flex;
   width: 100%;
   max-width: 200px; /*actual image width*/
   height: auto; /* maintain aspect ratio*/
   margin: auto; /*optional centering of image*/;
   align-items: center;
   margin-bottom: 15px;
    border-radius: 16px;
}
.name_wrapper{
    display: flex;
    color: #4E5150;
    font-weight: 600;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}
.location_wrapper{
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
color: #A9A9A9;
}

img {
    max-width: 100%;
    min-height: 100%;
}